:root{
    --rojo: #BA135D;
    --rosa: #F8E2CF;
    --letra_gris: #666;
}
.bg-colorPri{
    background: var(--rosa);
}

.color-letter{
    text-decoration: none;
    color: var(--rojo);
}

.pr-10{
    padding-right: 10px;
}

.margin{
    margin: 15px
}
.mg{
    margin-top:5px;
    margin-left:15px
}
